In [9]:
#importing and displaying dataset
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv('Dataset.csv') 
df.head()

,Surname,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,...,France,Germany,Spain,Female,Male,Mem__no__Products,Cred_Bal_Sal,Bal_sal,Tenure_Age,Age_Tenure_product
0,2023,668.0,33.0,3.0,0.00,2.0,1,0,181449.97,0,...,1,0,0,0,1,0.0,0.000000,0.000000,0.090909,99.0
1,2024,627.0,33.0,1.0,0.00,2.0,1,1,49503.50,0,...,1,0,0,0,1,2.0,0.000000,0.000000,0.030303,33.0
2,1236,678.0,40.0,10.0,0.00,2.0,1,0,184866.69,0,...,1,0,0,0,1,0.0,0.000000,0.000000,0.250000,400.0
3,1362,581.0,34.0,2.0,148882.54,1.0,1,1,84560.88,0,...,1,0,0,0,1,1.0,1022.940581,1.760655,0.058824,68.0
4,491,716.0,33.0,5.0,0.00,2.0,1,1,15068.83,0,...,0,0,1,0,1,2.0,0.000000,0.000000,0.151515,165.0

As shown in the dataset, this is a sample of bank customers and the objective is to predict whether thew will leave the bank. The target variable in this case is the column 'Exited' where 0 = False and 1 = True.
Below will be some visualisation to better understand the dataset and build a hypothesis based on the findings.

In [10]:
# Boxplot and correlation matrix


cm = df.corr
cm()

,Surname,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,...,France,Germany,Spain,Female,Male,Mem__no__Products,Cred_Bal_Sal,Bal_sal,Tenure_Age,Age_Tenure_product
Surname,1.000000,0.009076,-0.019451,-0.003101,-0.126933,0.050633,0.010640,0.002856,0.037894,-0.027023,...,0.063097,-0.077550,0.001047,-0.002160,0.002160,0.019966,-0.003187,-0.003096,0.002373,-0.010954
CreditScore,0.009076,1.000000,-0.008876,0.000959,0.005578,0.011608,-0.002618,0.015376,-0.000774,-0.027252,...,-0.005318,0.002778,0.003614,-0.002120,0.002120,0.016590,0.002720,-0.000096,0.003839,-0.002536
Age,-0.019451,-0.008876,1.000000,-0.010786,0.063279,-0.097307,-0.012602,0.008956,-0.006693,0.336603,...,-0.065167,0.090263,-0.011098,0.060875,-0.060875,-0.014102,0.005436,0.005478,-0.352308,0.366820
Tenure,-0.003101,0.000959,-0.010786,1.000000,-0.009638,0.007708,0.006415,-0.006874,0.001451,-0.019237,...,0.002628,-0.007315,0.004067,-0.009122,0.009122,-0.002951,0.000871,0.000793,0.908691,0.901456
Balance,-0.126933,0.005578,0.063279,-0.009638,1.000000,-0.357265,-0.020308,-0.014131,0.004412,0.128391,...,-0.328374,0.530917,-0.130873,0.013806,-0.013806,-0.132032,0.026174,0.026296,-0.029202,0.015386
NumOfProducts,0.050633,0.011608,-0.097307,0.007708,-0.357265,1.000000,0.005613,0.037826,-0.002429,-0.204525,...,0.059614,-0.097313,0.024674,-0.023250,0.023250,0.327446,-0.011103,-0.011056,0.038842,-0.028288
HasCrCard,0.010640,-0.002618,-0.012602,0.006415,-0.020308,0.005613,1.000000,-0.020675,0.004942,-0.021127,...,0.015866,-0.004604,-0.014411,-0.006612,0.006612,-0.015280,-0.001041,-0.000630,0.008510,0.001008
IsActiveMember,0.002856,0.015376,0.008956,-0.006874,-0.014131,0.037826,-0.020675,1.000000,-0.008724,-0.207201,...,0.016744,-0.035245,0.014724,-0.032999,0.032999,0.902879,0.002131,0.002158,-0.001938,-0.002628
EstimatedSalary,0.037894,-0.000774,-0.006693,0.001451,0.004412,-0.002429,0.004942,-0.008724,1.000000,0.018599,...,-0.000287,0.011718,-0.011201,0.007277,-0.007277,-0.007295,-0.040137,-0.040281,0.002397,-0.001212
Exited,-0.027023,-0.027252,0.336603,-0.019237,0.128391,-0.204525,-0.021127,-0.207201,0.018599,1.000000,...,-0.129092,0.208584,-0.051319,0.144147,-0.144147,-0.227765,0.002884,0.003119,-0.129918,0.107580
Surname_tfidf_0,-0.085026,0.000919,0.005329,-0.001263,0.051860,-0.028659,0.015731,-0.000802,-0.002996,0.005532,...,-0.009174,0.037732,-0.026214,-0.004407,0.004407,-0.009097,-0.000126,-0.000189,-0.004474,0.001005
Surname_tfidf_1,-0.061105,-0.008427,-0.000317,-0.003681,-0.019675,0.001621,0.002730,0.001954,0.003194,-0.000027,...,0.002595,-0.009796,0.006551,-0.004095,0.004095,0.004426,-0.001428,-0.001441,-0.001725,-0.004276
Surname_tfidf_2,0.187854,0.006801,-0.012798,0.000093,-0.078252,0.032892,-0.005156,0.001692,0.012600,-0.021321,...,0.047273,-0.058331,0.001011,-0.007526,0.007526,0.011193,-0.000184,-0.000182,0.004453,-0.005248
Surname_tfidf_3,0.178410,0.008033,-0.010870,0.005236,-0.032769,0.015708,0.012739,0.009848,0.006687,-0.021356,...,0.019225,-0.015227,-0.007958,-0.001914,0.001914,0.014563,-0.001988,-0.002033,0.007242,0.000792
Surname_tfidf_4,0.075406,0.002939,-0.008856,0.004215,-0.040557,0.014616,0.002959,0.001451,0.011543,-0.013617,...,0.025437,-0.026668,-0.004105,0.000236,-0.000236,0.006354,-0.000963,-0.000912,0.005720,0.001386
France,0.063097,-0.005318,-0.065167,0.002628,-0.328374,0.059614,0.015866,0.016744,-0.000287,-0.129092,...,1.000000,-0.593515,-0.609468,-0.025342,0.025342,0.032868,-0.012411,-0.012641,0.022711,-0.021026
Germany,-0.077550,0.002778,0.090263,-0.007315,0.530917,-0.097313,-0.004604,-0.035245,0.011718,0.208584,...,-0.593515,1.000000,-0.276343,0.038761,-0.038761,-0.058871,0.018907,0.019277,-0.037441,0.026867
Spain,0.001047,0.003614,-0.011098,0.004067,-0.130873,0.024674,-0.014411,0.014724,-0.011201,-0.051319,...,-0.609468,-0.276343,1.000000,-0.007921,0.007921,0.018745,-0.003804,-0.003895,0.009763,-0.001359
Female,-0.002160,-0.002120,0.060875,-0.009122,0.013806,-0.023250,-0.006612,-0.032999,0.007277,0.144147,...,-0.025342,0.038761,-0.007921,1.000000,-1.000000,-0.032840,-0.000804,-0.000951,-0.027148,0.013864
Male,0.002160,0.002120,-0.060875,0.009122,-0.013806,0.023250,0.006612,0.032999,-0.007277,-0.144147,...,0.025342,-0.038761,0.007921,-1.000000,1.000000,0.032840,0.000804,0.000951,0.027148,-0.013864
Mem__no__Products,0.019966,0.016590,-0.014102,-0.002951,-0.132032,0.327446,-0.015280,0.902879,-0.007295,-0.227765,...,0.032868,-0.058871,0.018745,-0.032840,0.032840,1.000000,-0.003129,-0.002933,0.008199,-0.007259
Cred_Bal_Sal,-0.003187,0.002720,0.005436,0.000871,0.026174,-0.011103,-0.001041,0.002131,-0.040137,0.002884,...,-0.012411,0.018907,-0.003804,-0.000804,0.000804,-0.003129,1.000000,0.994514,-0.001178,0.002524
Bal_sal,-0.003096,-0.000096,0.005478,0.000793,0.026296,-0.011056,-0.000630,0.002158,-0.040281,0.003119,...,-0.012641,0.019277,-0.003895,-0.000951,0.000951,-0.002933,0.994514,1.000000,-0.001257,0.002482
Tenure_Age,0.002373,0.003839,-0.352308,0.908691,-0.029202,0.038842,0.008510,-0.001938,0.002397,-0.129918,...,0.022711,-0.037441,0.009763,-0.027148,0.027148,0.008199,-0.001178,-0.001257,1.000000,0.648815
Age_Tenure_product,-0.010954,-0.002536,0.366820,0.901456,0.015386,-0.028288,0.001008,-0.002628,-0.001212,0.107580,...,-0.021026,0.026867,-0.001359,0.013864,-0.013864,-0.007259,0.002524,0.002482,0.648815,1.000000